{% extends "base.html" %}
{% load static %}

{% block title %}login{% endblock title %}

{% block content %}

<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url('{% static 'img/bg-img/breadcumb3.jpg' %}'
    );">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Login</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Login Area Start ##### -->
    <section class="login-area section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-8">
                    <div class="login-content">
                        <h3>Welcome Back</h3>
                        <!-- Login Form -->
                        <div class="login-form">
                            <form action="" method="post">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger">
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <div>{{ error }}</div>
                                            {% endfor %}
                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                            <div>{{ error }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <div class="form-group">
                                    <label for="id_username">Username</label>
                                    <input type="text" class="form-control" id="id_username" name="username" placeholder="Enter Username" required>
                                </div>
                                <div class="form-group">
                                    <label for="id_password">Password</label>
                                    <input type="password" class="form-control" id="id_password" name="password" placeholder="Password" required>
                                </div>
                                <button type="submit" class="btn oneMusic-btn mt-30">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Login Area End ##### -->


{% endblock content %}