{% extends "base.html" %}

{% load static %}

{% block title %}Event Details{% endblock title %}
{% block content %}
<!-- ##### Breadcumb Area Start ##### -->
    <section class="breadcumb-area bg-img bg-overlay" style="background-image: url('{% static "img/bg-img/breadcumb3.jpg" %}');">
        <div class="bradcumbContent">
            <p>See what’s new</p>
            <h2>Events</h2>
        </div>
    </section>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Events Area Start ##### -->
    <section class="events-area section-padding-100">
        <div class="container">
            <h3 class="mb-4" style="font-weight:700;">Upcoming Events</h3>
            <div class="row">
                {% for event in upcoming_events %}
                <!-- Single Event Area -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-event-area mb-30">
                        <div class="event-thumbnail" style="object-fit: cover; height: 250px;">
                            <a href="{% url 'event_detail' event.id %}"><img src="{{ event.event_image.url }}" alt=""></a>
                        </div>
                        <div class="event-text">
                            <a href="{% url 'event_detail' event.id %}"><h4>{{ event.event_name }}</h4></a>
                            <div class="event-meta-data">
                                <a href="{% url 'event_detail' event.id %}" class="event-place">{{ event.venue }}</a>
                                <a href="{% url 'event_detail' event.id %}" class="event-date">{{ event.event_date }}</a>
                            </div>
                            <a href="{% url 'event_detail' event.id %}" class="btn see-more-btn">See Event</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12"><p>No upcoming events.</p></div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="events-area section-padding-100 pt-0">
        <div class="container">
            <h3 class="mb-4" style="font-weight:700;">Passed Events</h3>
            <div class="row">
                {% for event in passed_events %}
                <!-- Single Event Area -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-event-area mb-30">
                        <div class="event-thumbnail" style="object-fit: cover; height: 250px;">
                            <a href="{% url 'event_detail' event.id %}"><img src="{{ event.event_image.url }}" alt=""></a>
                        </div>
                        <div class="event-text">
                            <a href="{% url 'event_detail' event.id %}"><h4>{{ event.event_name }}</h4></a>
                            <div class="event-meta-data">
                                <a href="{% url 'event_detail' event.id %}" class="event-place">{{ event.venue }}</a>
                                <a href="{% url 'event_detail' event.id %}" class="event-date">{{ event.event_date }}</a>
                            </div>
                            <a href="{% url 'event_detail' event.id %}" class="btn see-more-btn">See Event</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col-12"><p>No passed events.</p></div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Events Area End ##### -->
{% endblock content %}